<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="{{ jogo.imagem }}" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">{{ jogo.nome }}</h5>
          <fa-icon class="favoritar" (click)="favoritarJogo()"
          [class.estaFavoritado]="jogo.esta_favoritado"
          [icon]="faHeart">
        </fa-icon>
        </div>
        <p class="card-text">{{ jogo.descricao }}</p>
        <span class="badge badge-pill badge-success p-1 mb-2 justify-content-center">R$:{{ jogo.preco }}</span>
        <div class="container d-flex justify-content-center">
          <a href="{{ jogo.site }}" class="btn btn-primary">Página do Jogo</a>
        </div>
      </div>
    </div>
  </div>
</div>
